{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Games</h1>

    <div class="filter">
    <h4>Choose manufacturer: </h4>
        {% for manu in manufacturers %}
            {% if manu.name != 'N/A' %}
                <button type="submit" id="filter_button" class="btn btn-default" onclick="filter_function({{ manu.id }}, '/games')">{{ manu }}</button>
            {% endif %}
        {% endfor %}
    </div>

    <div class="sorter">
    <h4>Sort by: </h4>
        <div class="sort-attributes">
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('name', '/games')">Name</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('price', '/games')">Price</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('release_year', '/games')">Release year</button>
        </div>
    </div>

    <div class="products">
        {% for product in products %}
            {% include 'game/single_game.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}






