{% extends 'base.html' %}
{% block content %}
    <h1 class="red">All games</h1>

    <h3>Choose manufacturer </h3>
    <div class="filter">
        {% for manu in manufacturers %}
            {% if manu.name != 'N/A' %}
                <button type="submit" id="filter_button" class="btn btn-default" onclick="filter_function({{ manu.id }}, '/games')">{{ manu }}</button>
            {% endif %}
        {% endfor %}
    </div>

    <h3>Sort by: </h3>
    <div class="sorter">
        <div class="sort-attributes">
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('name', '/games')">Name</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('price', '/games')">Price</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('release_year', '/games')">Release year</button>
        </div>
    </div>

    <div class="well products">
        <div class="product-container">

            {% for product in products %}
                {% include 'game/single_game.html' with product=product %}
            {% endfor %}
        </div>
    </div>
{% endblock %}






