{% extends "base.html" %}
{% block content %}
    {% for manu in manufacturer %}
        <h1>All products from {{ manu.name }}</h1>
    {% endfor %}

    <h2>Consoles</h2>
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="products">
            {% for product in consoles %}
                {% include 'console/single_console.html' with product=product %}
            {% endfor %}
        </div>
    </div>
    <h2>Games</h2>
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="products">
            {% for product in games %}
               {% include 'game/single_game.html' with product=product %}
            {% endfor %}
        </div>
    </div>

{% endblock %}


