{% extends "admin/admin_base.html" %}
{% block content %}

{% if type_id == 1 %}
    <h2>Games</h2>
    <a href={% url 'create_game' %}><i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Create New</a>
{% else %}
    <h2>Consoles</h2>
    <a href={% url 'create_console' %}><i class="glyphicon glyphicon-plus" aria-hidden="true"></i> Create New</a>
{% endif %}
    <table class="table">
        <thead>
            <th></th>
            <th>Name</th>
            {% if type_id == 1 %}
                <th>Console</th>
            {% else %}
                <th>Manufacturer</th>
            {% endif %}
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        {% for product in products %}
            {% if product.type_id == type_id %}
                <tr>
                    <td><a href="{% url 'single_product' product.id %}"><img src="{{ product.productimage_set.first.image }}" style="width: 50px; height: 50px"/></a></td>
                    <td><a href="{% url 'single_product' product.id %}">{{ product.name }}</a></td>
                    {% if type_id == 1 %}
                        <td>{{ product.console }}</td>
                    {% else %}
                       <td>{{ product.manufacturer }}</td>
                    {% endif %}
                    <td><a href={% url 'edit_product' product.id %}><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a></td>
                    <td><button onclick="deleteProduct({{ product.id }})"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}