<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Captain Console</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'product-index' %}">All products</a></li>
                <li><a href="{% url 'game-index' %}">Games</a></li>
                <li><a href="{% url 'console-index' %}">Consoles</a></li>
                <li><a href="{% url 'manufacturer-index' %}">Manufacturers</a></li>
                {% comment %}<li><a href="{% url 'accessory-index' %}">Accessories</a></li>{% endcomment %}
                <li><a href="{% url 'sale-index' %}">Sales</a></li>
                <li><a href="{% url 'about_us-index' %}">About us</a></li>


               {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
               {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
               {% endif %}
                <li><a href="{% url 'cart-index' %}">Cart</a></li>

            </ul>
            {% if user.is_authenticated %}
                <div id="shoppingcart">Items in cart <span id="items_in_cart">{{ numberOfItems }}</span></div>
                <a href="{% url 'profile' %}"><img src="{{ user.profile.profile_image }}" class="nav-profile-pic"/></a>
            {% endif %}

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>