{% extends 'base.html' %}
{% block content %}
    <h3 class="red">Homepage</h3>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
            <button type="button" id="search-history-btn" class="btn btn-default">Search History</button>
        </div>
    </div>

    <div class="consoles">
        {% for console in consoles %}
            {% include 'console/single_console.html' with console=console %}
        {% endfor %}
        {% for game in games %}
            {% include 'game/single_game.html' with game=game %}
        {% endfor %}

    </div>


{% endblock %}
