{% extends 'base.html' %}
{% block content %}

    <h3>Most popular products</h3>
    <div class="homepage-container">
        {% for product in products %}
            {% if product.id == 13 or product.id == 14 or product.id == 15 %}
                <div class="card">
                    <div class="card-body">

                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="front-page-name">
                                <a href="products/consoles/{{ product.id }}" class="text-default mb-2" data-abc="true">
                                    <div class="card-img-actions">
                                        <img src={{ product.productimage_set.first.image }} class="card-img img-fluid"
                                        width="96" height="350" alt="">
                                    </div>
                                    {{ product.name }}
                                    <div>
                                        {% if product.on_sale == True %}
                                            <p>20% off now</p>
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </a>
                            </h6>
                        </div>
                        <h3 class="front-page-price">${{ product.price }}</h3>
                        <button type="button" class="btn bg-cart" onclick="addToCart({{ product.id }});"><i
                                class="fa fa-cart-plus mr-2"></i> Add to cart
                        </button>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
    <h3>New products</h3>
    <div class="homepage-container">
        {% for product in products %}
            {% if product.id == 16 or product.id == 17 or product.id == 18 %}
                <div class="card">
                    <div class="card-body">

                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="front-page-name">
                                <a href="products/consoles/{{ product.id }}" class="text-default mb-2" data-abc="true">
                                    <div class="card-img-actions">
                                        <img src={{ product.productimage_set.first.image }} class="card-img img-fluid"
                                        width="96" height="350" alt="">
                                    </div>
                                    {{ product.name }}
                                    <div>
                                        {% if product.on_sale == True %}
                                            <p>20% off now</p>
                                        {% else %}
                                            <br>
                                        {% endif %}
                                    </div>
                                </a>
                            </h6>
                        </div>
                        <h3 class="front-page-price">${{ product.price }}</h3>
                        <button type="button" class="btn bg-cart" onclick="addToCart({{ product.id }});"><i
                                class="fa fa-cart-plus mr-2"></i> Add to cart
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
