{% extends 'base.html' %}

{% block content %}
    <h1>Orders</h1>




        {% for order in orders %}
            {% if order.completed == True %}

                <h3 class="orders-date">{{ order.date }}</h3>
                <div class="orders">


                    {% for item in items %}

                        {% if item.order_id == order.id %}
                            <div class=>

                                <img class="review-img" src="{{ item.product.productimage_set.first.image }}"/>


                                <p>{{ item.price }}$</p>
                            </div>

                        {% endif %}

                    {% endfor %}


                </div>
                <h4 style="color: black">Total price: {{ order.total_price }}</h4>


            {% endif %}
        {% endfor %}


{% endblock %}