{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ user.first_name }}!</h1>

    <img src="{{ user.profile.profile_image }}" class="team-img"/>
    <a href="{% url 'profile_picture'  %}" class="block btn btn-primary">Edit Profile Picture</a>


    <p>Name: </p>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>Email:</p>
    <p>{{ user.email }}</p>
    <p>Username:</p>
    <p>{{ user.username }}</p>

    <a href="{% url 'view-wishlist' %}" class="block btn btn-primary">
        <i class="glyphicon glyphicon-heart"></i> Wishlist
    </a>
    <a href="{% url 'get_my_reviews' %}" class="block btn btn-primary">
         My reviews
    </a>
    <a href="{% url 'get_orders' %}" class="block btn btn-primary">
         My orders
    </a>
    <a href="{% url 'update_profile'  %}" class="block btn btn-primary">Update Information</a>
    <a href="{% url 'change_password'  %}" class="block btn btn-primary">Change Password</a>
{% endblock %}


