{% extends "base.html" %}
{% block content %}
    <h1>Update Profile Information</h1>
    <div>
        <div class="saelir">
            <img src="{{ user.profile.profile_image }}" class="team-img"/>
            <div class="mybtn">
                <a href="{% url 'profile_picture' %}" class="block btn btn-default">Edit Profile Picture</a>
            </div>
            <div class="mybtn">
                <a href="{% url 'change_password' %}" class="block btn btn-default">Change Password</a>
            </div>
        </div>
        <div class="btn1">
            <form class="form form-horizontal" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="block btn btn-default" value="Update"/>
            </form>
        </div>
    </div>
{% endblock %}