{% extends "base.html" %}
{% block content %}
    <h1>Update Profile Information</h1>
    <div>
        <img src="{{ user.profile.profile_image }}" class="team-img"/>
        <a href="{% url 'profile_picture' %}" class="block btn btn-default">Edit Profile Picture</a>
        <div class="buttons">
        <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-default" value="Update"/>
        </form>
        <a href="{% url 'change_password' %}" class="block btn btn-default">Change Password</a>
        </div>
    </div>
{% endblock %}