/* Navigation bar*/

.orders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

.orders-date {
    margin-top: 80px;
}


.item {
    display: grid;
    grid-template-columns: 1fr;
}


.navbar-default {
    /*background-color: white;*/
    /*border-color: goldenrod;
    /*border-width: thick;*/
    height: 79px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 25px;
    color: goldenrod;
    font-size: 15px;
    font-weight: bold;
}

form {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-default {
    color: goldenrod;
}


/*Sýna allt console/games/all products */
p {
    font-size: 14px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products .product {
    border-radius: 0;
    margin: 0;
    background-image: none;
    background-color: white;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.pro-container {
    align-items: center;
    text-align: center;
    align-content: center;
    alignment: center;
    display: grid;
    padding: 10px;
    margin: 10px;
}

.review-img {
    width: 250px;
    height: 200px;
    transition: transform 1s ease-in;
    padding-left: 40px;
    padding-bottom: 20px;
}
.review-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
.wish-list-img {
    width: 50px;
    height: 50px;
    transition: transform 1s ease-in;
}

.front-page-name {
    font-size: 18pt;
    color: black;
}

.front-page-price {
    font-size: 14pt;
    color: goldenrod;
    text-align: center;
}

.homepage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-color: goldenrod;
    border-style: solid;
    border-width: 8px;
    margin: 30px;
    padding: 10px;

}

body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}


.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in;
}

.bg-cart {
    background-color: orange;
    color: #fff;
    width: 150px;
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}


.product-img {
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in;
}


/* FOOTER */
.page-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.copyright-text a {
    color: rgb(223, 153, 49)
}

h3 {
    color: rgb(223, 153, 49)
}

h3 a {
    color: rgb(223, 153, 49)
}

h3 a:hover {
    color: rgb(223, 153, 49)
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: rgb(223, 153, 49);
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.instagram:hover {
    background-color: #ea4c89
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


/* ABOUT US */

.team-img {
    object-fit: cover;
    width: 277px;
    height: 277px;
    max-height: 100%;
    max-width: 100%;
    transition: transform 1s ease-in;
}

.team-column {
    float: left;
    width: 25%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    word-wrap: break-word;
}

.about {
    padding: 0px;
    text-align: center;
    color: rgb(38, 39, 43);
}

.title {
    font-weight: bold;
    word-wrap: break-word;
}

h4 {
    color: rgb(223, 153, 49);
    word-wrap: break-word;
}

.nav-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

