{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-3">
        <h3>Payment information</h3><br>

        <form id="payment_form" method="post">
            {{ form.as_p }}
        </form><br>

        <h4>Total price: ${{ totalPrice }}</h4><br>

    </div>
    <br>
    <div class="col-sm-8 col-sm-offset-3">
        <button type="button" class="btn bg-cart" onclick="history.back()"></i> Back</button>
        <button type="submit" form="payment_form" class="btn bg-cart" value="submit"> <i class="fa fa-cart-plus mr-2"></i> Submit payment</button>
        <br><br>

    </div>





{% endblock %}
