{% extends 'base.html' %}

{% block content %}
    <div id="cart"> <h1>Review over your order</h1>
    </div><br>


    <div class="col-sm-8 col-sm-offset-3">
        <h3>Items</h3>
        <table class="table">
            <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>

            </thead>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td><b>Total: {{ totalPrice }}</b></td>
        </tr>
        </tfoot>
                {% for item in items %}
                    <tr><td>{{ item.product.name }}</td><td>{{ item.quantity }}</td><td>{{ item.total }}</td></tr>
                {% endfor %}
        </table>

        <div>
            <h3>Buyer information</h3>
            <div class="tab">
                <b>Name:  </b>{{ order.fullname }} <br>
                <b>Street name: </b> {{ order.streetname }}<br>
                <b>House number: </b>{{ order.housenumber }}<br>
                <b>City: </b>{{ order.city }}<br>
                <b>Country: </b>{{ order.country }}<br>
                <b>Postal code: </b> {{ order.postalcode }}<br>
            </div>

        </div>
        <br><br>

            <div>
                <h3>Payment informations</h3>
                <div class="tab">
                    <b>Name of cardholder:</b>  {{ payment.cardno }}<br>
                    <b>Card Number: </b>{{ payment.cardno }}<br>
                    <b>Expiration date:</b> {{ payment.expdate }}<br>
                </div>

            </div>

        <form method="post" id="review_form">

        </form>
    </div>
    <br><br>


    <div class="col-sm-8 col-sm-offset-3">
        <br>
        <button type="button" class="btn bg-cart" onclick="history.back()"></i> Back</button>
        <button type="submit" form="review_form" class="btn bg-cart" value="submit"> <i class="fa fa-cart-plus mr-2"></i> Finish your order</button>
        <br><br>
    </div>

{% endblock %}
