{% extends 'base.html' %}

{% block content %}
    <h3>Review over your order</h3>

    <div class="col-sm-8 col-sm-offset-3">
        <h4>Items</h4>
        <table class="table">
            <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>

            </thead>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>Total: {{ totalPrice }}</td>
        </tr>
        </tfoot>
                {% for item in items %}
                    <tr><td>{{ item.product.name }}</td><td>{{ item.quantity }}</td><td>{{ item.total }}</td></tr>
                {% endfor %}
        </table>

        <div>
            <h4>Buyer information</h4>
            <div>
                Name: {{ order.fullname }} <br>
                Street name: {{ order.streetname }}<br>
                House number: {{ order.housenumber }}<br>
                City: {{ order.city }}<br>
                Country: {{ order.country }}<br>
                Postal code: {{ order.postalcode }}<br>
            </div>


        </div>

        <div>
            <h4>Payment informations</h4>
            <div>
                Name of cardholder: {{ payment.cardno }}<br>
                Card Number: {{ payment.cardno }}<br>
                Expiration date: {{ payment.expdate }}<br>

            </div>

        </div>

    <form method="post" id="review_form">

    </form>


        <button type="button" class="btn bg-cart" onclick="history.back()"></i> Back</button>
        <button type="submit" form="review_form" class="btn bg-cart" value="submit"> <i class="fa fa-cart-plus mr-2"></i> Finish your order</button>

    </div>


{% endblock %}
