<div class="well product">
    <div class="card">
        <div class="card-body">
            {% if product.type_id == 1 %}
                <a href="games/{{ product.id }}">
                    <img src={{ product.productimage_set.first.image }} class="product-img">

                </a>
                <h6 class="font-weight-semibold mb-2"><a href="games/{{ product.id }}"
                                                         class="text-default mb-2"
                                                         data-abc="true">
                    {{ product.name }}

                </a></h6>
            {% else %}
                <a href="consoles/{{ product.id }}">
                    <img src={{ product.productimage_set.first.image }} class="product-img">

                </a>
                <h6 class="font-weight-semibold mb-2"><a href="consoles/{{ product.id }}"
                                                         class="text-default mb-2"
                                                         data-abc="true">
                    {{ product.name }}

                </a></h6>
            {% endif %}

            <h3 class="mb-0 font-weight-semibold">${{ product.price }}</h3>

            <div class="col-sm-8 col-sm-offset-3">


            </div>
            <div class="tabRight">
                <button type="button" class="btn bg-cart" onclick="addToCart({{ product.id }});"><i class="fa fa-cart-plus mr-2"></i> Add to cart
                </button>
                <p></p>
                <button type="button" class="btn bg-cart" onclick="addToWishlist({{ product.id }});">
                    <i class="glyphicon glyphicon-heart">
                    </i> Add to wishlist
                </button>
                <a type="button" href="{% url 'review_index' product.id %}" class="btn bg-cart"> Add review</a>

            </div>

        </div>
    </div>
</div>