{% extends "base.html" %}
{% block content %}
    <h1>{{ consoles.name }}</h1>
    <div class="review-container">
    {% for product_image in consoles.productimage_set.all %}
            <img src="{{ product_image.image }}" class="product-img"/>
    {% endfor %}
        <p>{{ consoles.description }}</p>
        <p>Manufacturer: {{ consoles.manufacturer.name }}</p>

    </div>

    <div style="text-align: right ">

        <h4>Price: {{ consoles.price }}$</h4>
        <button type="button" class="btn bg-cart" onclick="addToCart({{ consoles.id }});"><i
                class="fa fa-cart-plus mr-2"></i> Add to cart
        </button>
    </div>

    <h1>Reviews</h1>
    {% for review in reviews %}
        {% if review.product_id == consoles.id %}
            {% for user in users %}
                {% if user.id == review.user_id %}
                    <h6>{{ user.username }}</h6>
                {% endif %}
            {% endfor %}
            <div class="well">
                <p>{{ review.review }}</p>
            </div>

        {% endif %}
    {% endfor %}
{% endblock %}