{% extends "base.html" %}
{% block content %}
    <h1>{{ consoles.name }}</h1>
    <p>{{ consoles.description }}</p>
    <p>{{ consoles.price }}</p>
    <p>Manufacturer: {{ consoles.manufacturer.name }}</p>
    {% for product_image in consoles.productimage_set.all %}
        <img src="{{ product_image.image }}" class="product-img"/>
    {% endfor %}


    <h1>Reviews</h1>
    {% for review in reviews %}
        {% if review.product_id == consoles.id %}
            {% for user in users %}
                {% if user.id == review.user_id %}
                    <h6>{{ user.username }}</h6>
                {% endif %}
            {% endfor %}
            <div class="well">
                <p>{{ review.review }}</p>
            </div>

        {% endif %}
    {% endfor %}
{% endblock %}