{% extends 'base.html' %}
{% block content %}
    <h1 class="red">All products</h1>
    <h3>Sort by: </h3>
    <div class="sorter">
        <div class="sort-attributes">
            <div class="sort-button"><a href="/products/name">Name</a></div>
            <div class="sort-button"><a href="/products/price">Price</a></div>
            <div class="sort-button"><a href="/products/release_year">Release year</a></div>
        </div>
    </div>
    <div class="input-group">
        {% csrf_token %}
        {{ form }}
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.."/>
        <form class="form form-horizontal" action="{% url 'search-index' %}" method="post">
            <input type="hidden" class="form-control" id="search-box" placeholder="Enter your search here.."
                   name="search" method="POST"/>
        </form>
        <div class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-default">Search</button>
            <a href={% url "view_search_history" %}>
                <button type="button" id="search-history-btn" class="btn btn-default">Search History</button>

            </a>



        </div>
    </div>
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="row">
            {% for product in products %}
                {% if product.type_id == 2 %}
                    <div class="col-md-4 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions"> <img src={{ product.productimage_set.first.image }} class="card-img img-fluid" width="96" height="350" alt=""> </div>
                            </div>
                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2"> <a href="games/{{ product.id }}" class="text-default mb-2" data-abc="true">{{ product.name }}</a> </h6>

                                </div>
                                <h3 class="mb-0 font-weight-semibold">${{ product.price }}</h3>
                                <button type="button" class="btn bg-cart" onclick="addToCart({{ product.id }});"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
     </div>
{% endblock %}






