{% extends 'base.html' %}
{% block content %}
    <h1 class="red">All consoles</h1>

    <h3>Choose manufacturer </h3>
    <div class="filter">
        {% for manu in manufacturers %}
            {% if manu.name != 'N/A' %}
                <button type="submit" id="filter_button" class="btn btn-default" onclick="filter_function({{ manu.id }}, '/consoles')">{{ manu }}</button>
            {% endif %}
        {% endfor %}
    </div>

    <h3>Sort by: </h3>
    <div class="sorter">
        <div class="sort-attributes">
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('name', '/consoles')">Name</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('price', '/consoles')">Price</button>
            <button type="submit" id="sorter_button" class="btn btn-default" onclick="sorter_function('release_year', '/consoles')">Release year</button>
        </div>
    </div>


    <div class="well products">
        <div class="product-container">

            {% for product in products %}
                {% if product.type_id == 2 %}
                <div class="card">
                    <div class="card-body">
                            <a href="consoles/{{ product.id }}">
                                <img src={{ product.productimage_set.first.image }} class="product-img">

                            </a>
                            <h6 class="font-weight-semibold mb-2"><a href="consoles/{{ product.id }}"
                                                                     class="text-default mb-2"
                                                                     data-abc="true">
                                {{ product.name }}

                            </a></h6>

                            <h3 class="mb-0 font-weight-semibold">${{ product.price }}</h3>
                            <button type="button" class="btn bg-cart" onclick="addToCart({{ product.id }});"><i
                                    class="fa fa-cart-plus mr-2"></i> Add to cart
                            </button>
                            <p></p>
                            <button type="button" class="btn bg-cart" onclick="addToWishlist({{ product.id }});">
                                <i class="glyphicon glyphicon-heart">
                                </i> Add to wishlist
                            </button>
                            <p></p>
                            <a type="button" href="{% url 'review_index' product.id %}" class="btn bg-cart"> Add
                            review</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
