{% extends 'base.html' %}
{% block content %}
    <div class="about">
      <h3>About Captain Console</h3>
        <p>Captain Console is a new retro gaming shop selling both retro consoles and games. The shop has one goal
        to become the greatest, biggest and most recognized retro gaming shop out there! They sell everything
        from ZX Spectrum to Gameboy.
        Captain Console is a new retro gaming shop selling both retro consoles and games. The shop has one goal
        to become the greatest, biggest and most recognized retro gaming shop out there! They sell everything
        from ZX Spectrum to Gameboy.
        Captain Console is a new retro gaming shop selling both retro consoles and games. The shop has one goal
        to become the greatest, biggest and most recognized retro gaming shop out there! They sell everything
        from ZX Spectrum to Gameboy.</p>
    </div>
    <div class="about">
        <h3>Contact information</h3>
        <p>Telephone: 565-3076 <br>
        Email: info@captainconsole.com <br>
        Location: Lækjargata 21, 220 Hafnarfjörður </p>
    </div>
    <div class="about">
        <h3>Opening hours</h3>
        <p>Mon-Fri: 12:00 - 18:00 <br>
            Sat: 11:00 - 18:00 <br>
            Sun: CLOSED <br>
            Online: 24/7
        </p>
    </div>

    <h3>Our Team</h3>
    <div class="row">
      <div class="team-column">
        <div class="card">
          <img class="team-img" src="https://scontent.frkv1-1.fna.fbcdn.net/v/t1.0-1/p960x960/53452777_3007367965947427_4157802297016975360_o.jpg?_nc_cat=110&_nc_sid=dbb9e7&_nc_ohc=QvS8EURbHz0AX8x11oZ&_nc_ht=scontent.frkv1-1.fna&_nc_tp=6&oh=fd2ca421eb50d2f2d4632d8dbd10af8f&oe=5EDAF4CC" alt="Hildur">
            <div class="container">
            <h4 class="title">Hildur Margrét Gunnarsdóttir</h4>
            <p>CEO & Founder</p>
            <p>BSc. in Engineering <br> Computer Science student</p>
            <p>hildur@captainconsole.com</p>
          </div>
        </div>
      </div>

      <div class="team-column">
        <div class="card">
            <img class="team-img" src="https://scontent.frkv1-1.fna.fbcdn.net/v/t1.0-9/13423861_10206139296112520_1693663600582800168_n.jpg?_nc_cat=104&_nc_sid=85a577&_nc_ohc=kMGIBJO37VYAX83i-Z1&_nc_ht=scontent.frkv1-1.fna&oh=7443f3034ed3bd4f8846624bfc95999e&oe=5ED88453" alt="Palina">
              <div class="container">
            <h4 class="title">Pálína Kröyer Guðmundsóttir</h4>
            <p>CFO & Founder</p>
            <p>BSc. in Engineering <br> Computer Science student</p>
            <p>palina@captainconsole.com</p>
          </div>
        </div>
      </div>

      <div class="team-column">
        <div class="card">
            <img class="team-img" src="https://scontent.frkv1-1.fna.fbcdn.net/v/t1.0-9/35199112_2205830996099437_2450704550936444928_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=KvaINikChcsAX8UVnAX&_nc_ht=scontent.frkv1-1.fna&oh=53bf38a6659116a04032eb6864629dd2&oe=5EDAE4F9" alt="Sara">
              <div class="container">
            <h4 class="title">Sara Lind Sveinsdóttir</h4>
            <p>COO & Founder</p>
            <p>BSc. in Engineering <br> Computer Science student</p>
            <p>sara@captainconsole.com</p>
          </div>
        </div>
      </div>
      <div class="team-column">
        <div class="card">
            <img class="team-img" src="https://scontent.frkv1-1.fna.fbcdn.net/v/t31.0-0/p640x640/10644462_835380739814963_3820769756683358299_o.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_ohc=qVnLggz5Y_QAX_BRFV5&_nc_ht=scontent.frkv1-1.fna&_nc_tp=6&oh=60e40ceac1bbeec8434f4e90ad6d8aab&oe=5ED9730C" alt="valdis">
          <div class="container">
            <h4 class="title">Valdís Bæringsdóttir</h4>
            <p>CTO & Founder</p>
            <p>BSc. in Engineering <br> Computer Science student</p>
            <p>valdis@captainconsole.com</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}