{% extends 'base.html' %}

{% block content %}
    <h3>Shopping cart</h3>

    <p>MeME</p>
    <div class="col-sm-8 col-sm-offset-3">
        <table class="table">
            <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Delete</th>
            
            </thead>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>Total: {{ totalPrice }}</td>
            <td></td>
        </tr>
        </tfoot>
                {% for item in items %}
                    <tr><td>{{ item.product.name }}</td><td>{{ item.quantity }}</td><td>{{ item.total }}</td><td><button onclick="deleteFromCart({{ item.id }})"><i class="fa fa-trash" aria-hidden="true"></i></button></td></tr>
                {% endfor %}
        </table>

        <button>Buy</button>

    </div>




{% endblock %}
